.strike {
    text-decoration: line-through;
}
ul.dashlist {
    list-style-type: none;
}
.dashlist code {
}

ul.pseudocloud {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
}

ul.pseudocloud > li {
    margin: 12px;
}

